.seat__groups {
    text-align: left;
    position: absolute;
    left: 30%;
    top: 12%;
    line-height: 3;
    .seat__note {
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        left: -80%;
        top: -20%;
    }
    .seat__info {
        margin: 20px 0px;
        .seat__info--empty {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 11%;
            left: -80%;
            border: 1px solid red;
            z-index: 3;
        }
        .seat__info--booked {
            width: 40px;
            height: 40px;
            position: absolute;
            left: -80%;
            background-color: #767676;
            z-index: 3;
            top: 41%;
        }

        .seat__info--select {
            width: 40px;
            height: 40px;
            position: absolute;
            left: -80%;
            background-color: #5090e9;
            z-index: 3;
            top: 72%;
        }
    }
}

.seat__select {
    background: #5090e9 !important;
    border: none !important;
}

.seat__unSelect {
    background: white;
}

.seat__selecting {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #981a1e;
    .seat__selecting--item {
        padding-right: 7px;
    }
}
